<div class="container my-2">
    <h1 class="h1 text-center">Write Post</h1>
    <form>
        <div >
            <div>Enter topic for your post</div>
            <input type="text" class="form-control" style="height: 60px;" id="newTopic" placeholder="Enter topic for your post">
        </div>
        <div >
            <div >Enter content for your topic</div>
            <textarea id="body" class="form-control" style="height: 600px" placeholder=""></textarea>
        </div>
        <br>
        <br>
        <button id="submitButn" class="btn btn-primary btn-lg">Post</button>
        </form>
        </div>
    <script src="/app/write-post.js"></script>